[data-dtf-wrapper] {
  display: inline-block;
  position: relative;
  float: right;
  &.reveal {
    a[data-dtf-toggle] {
      &:before {
        content: "-";
      }
    }
    [data-dtf-container] {
      display: block;
    }
  }
}

a[data-dtf-toggle] {
  &:after {
    content: "+";
  }
  &.reveal:after {
    content: "-";
  }
}

[data-dtf-toggle-target] {
  display: none;
  &.reveal {
    display: block;
  }
}

[data-dtf-container] {
  display: none;
  position: absolute;
  background: white;
  z-index: 1000;
  left: 0;
  top: 100%;
  background-color: white;
  text-align: left;
  form {
    border: 1px solid #777;
    padding: 0.5em;
  }
  a {
    display: block;
    cursor: pointer;
  }
}

[data-dtf-by-val] {
  a {
    display: inline-block;
    color: blue;
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
  .values {
    label {
      display: block;
      cursor: pointer;
    }
  }
}

[data-dtf-condition] {
  display: none;
}