table#example
  thead
    tr
      each val, index in tableData[0]
        th(data-dtf-here=(index == 'email'?'':false))
          !=index
  tbody
    each row, index in tableData
      if index != 0
        tr
          each val, index in row
            td=val
  tfoot
    tr
      each val, index in tableData[0]
        th(data-dtf-here=(index == 'email'?'':false))
          !=index