#root

  h1
    | Extended filtering &nbsp;
    small DataTables plugin

  table#example(class=tableClasses)
    thead
      tr
        each val, index in tableData[0]
          th(data-dtf-here=(index == 'email'?'':false))
            !=index
    tbody
      each row in tableData
        tr
          each val, index in row
            td=val
    tfoot
      tr
        each val, index in tableData[0]
          th(data-dtf-here=(index == 'email'?'':false))
            !=index