div(data-dtf-wrapper)
  a(data-dtf-toggle="container" href="#") &nbsp;
  div(data-dtf-container data-dtf-toggle-target="container")
    a(data-dtf-sort="asc")
      span.glyphicon.glyphicon-sort-by-attributes
      span Sort Ascending
    a(data-dtf-sort="desc")
      span.glyphicon.glyphicon-sort-by-attributes-alt
      span Sort Descending

    //- .inner-addon.right-addon
    //-   input.form-control(type="search" data-dtf-search
    //-                      placeholder="Real time search" )
    //-   span.glyphicon.glyphicon-search

    .form-group.has-feedback.has-feedback-right
      input.form-control.input-sm(type="search" data-dtf-search
                                  placeholder="Real time search" )
      span.glyphicon.glyphicon-search.form-control-feedback

    form

      a(data-dtf-toggle="by-val")
        span.glyphicon
        span Filter by value

      div(data-dtf-by-val data-dtf-toggle-target="by-val")
        .btn-group.btn-group-justified
          a.btn.btn-sm(data-dtf-by-val-all) Select all
          a.btn.btn-sm(data-dtf-by-val-clear) Clear
        .values
          //- //- For demonstration purpose
          //- - var n = 0
          //- while n < 15
          //-   -n++
          //-   label
          //-     input(type="checkbox" value=n)
          //-     | Some value

      a(data-dtf-toggle="condition-option")
        span.glyphicon
        span Filter by condition

      div(data-dtf-toggle-target="condition-option")
        .form-group
          select.form-control.input-sm(data-dtf-condition-option)
            option Filter by condition

            option(value="empty") Cell is empty
            option(value="nonzero") Cell is not empty

            option(value="contains") Text contains
            option(value="exclude") Text does not contain
            option(value="starts_with") Text starts with
            option(value="ends_with") Text ends with
            option(value="exact") Text is exactly

            option(value="date") Date is
            option(value="date_before") Date is before
            option(value="date_after") Date is after

            option(value="greater") Greater than
            option(value="greater_or_equal") Greater than or equal to
            option(value="less") Less than
            option(value="less_or_equal") Less than or equal to
            option(value="equal") Is Equal to
            option(value="isnot") is not equal to

            option(value="between") Is between
            option(value="beyond") Is not between

        div.form-group(data-dtf-condition="value")
          input.form-control.input-sm(type="text" data-dtf-condition-value
                                      placeholder="Value"
                                      data-placeholder="Value")

        div.row-fluid(data-dtf-condition="from-to")
          .col-xs-6
            input.form-control.input-sm(type="text" data-dtf-condition-from
                                        placeholder="From"
                                        data-placeholder="From")
          .col-xs-6
            input.form-control.input-sm(type="text" data-dtf-condition-to
                                        placeholder="To"
                                        data-placeholder="To")

      .btn-group.btn-group-justified
        .btn-group
          button.btn.btn-sm.btn-default(type="submit") Submit
        .btn-group
          button.btn.btn-sm.btn-default(type="reset") Reset