div(data-dtf-wrapper)
  a(data-dtf-toggle="container" href="#") &nbsp;
  div(data-dtf-container data-dtf-toggle-target="container")
    a(data-dtf-sort="asc")
      span.icon-ascending &nbsp;
      span Sort Ascending
    a(data-dtf-sort="desc")
      span.icon-descending &nbsp;
      span Sort Descending

    .form-control
      input(type="search" placeholder="Real time search" data-dtf-search)

    form

      a(data-dtf-toggle="by-val")
        span.icon-filter &nbsp;
        span Filter by value

      div(data-dtf-by-val data-dtf-toggle-target="by-val")
        a(data-dtf-by-val-all) Select all
        a(data-dtf-by-val-clear) Clear
        .values
          //- //- For demonstration purpose
          //- - var n = 0
          //- while n < 15
          //-   -n++
          //-   label
          //-     input(type="checkbox" value=n)
          //-     | Some value

      a(data-dtf-toggle="condition-option")
        span.icon-filter &nbsp;
        span Filter by condition

      div(data-dtf-toggle-target="condition-option")
        .form-control
          select(data-dtf-condition-option)
            option Filter by condition

            option(value="empty") Cell is empty
            option(value="nonzero") Cell is not empty

            option(value="contains") Text contains
            option(value="exclude") Text does not contain
            option(value="starts_with") Text starts with
            option(value="ends_with") Text ends with
            option(value="exact") Text is exactly

            option(value="date") Date is
            option(value="date_before") Date is before
            option(value="date_after") Date is after

            option(value="greater") Greater than
            option(value="greater_or_equal") Greater than or equal to
            option(value="less") Less than
            option(value="less_or_equal") Less than or equal to
            option(value="equal") Is Equal to
            option(value="isnot") is not equal to

            option(value="between") Is between
            option(value="beyond") Is not between

        div.form-control(data-dtf-condition="value")
          input(type="text" placeholder="Value" data-placeholder="Value"
                  data-dtf-condition-value)

        div(data-dtf-condition="from-to")
          .form-control
            input(type="text" placeholder="From" data-placeholder="From"
                    data-dtf-condition-from)
          .form-control
            input(type="text" placeholder="To" data-placeholder="To"
                    data-dtf-condition-to)

      button(type="submit") Submit
      button(type="reset") Reset