<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Document
  //- application styles
  link(rel="stylesheet" href=assets.app.css)
  //- dependencies, datatables including
  link(rel="stylesheet" href=assets.vendor.css.bootstrap)
  link(rel="stylesheet" href=assets.vendor.css.dataTables.bootstrap)
  //- plugin theme
  link(rel="stylesheet" href=assets.plugin.css.bootstrap)

  script(src=assets.vendor.js.jquery)
  script(src=assets.vendor.js.dataTables.jquery)
  script(src=assets.vendor.js.dataTables.bootstrap)
  script(src=assets.plugin.js)
  script(src=assets.plugin.template.bootstrap)
  script(src=assets.app.js)
body
  - tableClasses = 'table table-striped table-bordered'
  include _body.jade