<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  h1 List of styles

  ul
    li
      a(href="core.html" target="_blank") Only core css
    li
      a(href="default.html" target="_blank") Default theme
    li
      a(href="bootstrap.html" target="_blank") Bootstrap theme (with fontawasome)